body {
    min-width: 290px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.0em;
    color: #60a725;
    margin: 10px;
}

.moviesTable {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 1.0em;
    text-align: left;
    border-collapse: collapse;
    margin: 20px;

}

tbody, thead, tr {
    font-size: 100%;
    vertical-align: baseline;
    margin: 10px;
    padding: 10px;
    outline: 0;
    border: 0;
    background: transparent;
}

.moviesTable th {
    font-size: 1.1em;
    font-weight: normal;
    color: #039;
    padding: 10px;
}

tr:nth-child(even) {
    background: #e8edff
}

tr:nth-child(odd) {
    background: #ffffff
}

tr:hover {
    background-color: lightyellow;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
/*@media only screen and (max-width: 760px),*/
/*(min-device-width: 320px) and (max-device-width: 1024px) {*/

    /*.moviesTable    {*/
        /*margin: 0px;*/
    /*}*/

    /*body    {*/
        /*margin: 0px;*/
    /*}*/

    /*tbody, thead   {*/
        /*margin: 0px;*/
        /*padding: 0px;*/
    /*}*/

    /* Force table to not be like tables anymore */
    /*table, thead, tbody, th, td, tr {*/
        /*display: block;*/
    /*}*/

    /* Hide table headers*/
    /*thead tr {*/
        /*display: none;*/
    /*}*/

    /*tr {*/
        /*border: 1px solid #ccc;*/
    /*}*/

    /*td {*/
        /* Behave  like a "row" */
        /*border: none;*/
        /*position: relative;*/
        /*padding-left: 50%;*/
        /*padding-top: 5px;*/
        /*padding-bottom: 5px;*/
    /*}*/

    /*td:before {*/
        /* Now like a table header */
        /*position: absolute;*/
        /* Top/left values mimic padding */
        /*top: 6px;*/
        /*left: 6px;*/
        /*width: 45%;*/
        /*padding-right: 10px;*/
        /*white-space: nowrap;*/
    /*}*/

    /**/
    /*Label the data*/
    /**/
    /*td:nth-of-type(1):before {*/
        /*content: "Title";*/
    /*}*/

    /*td:nth-of-type(2):before {*/
        /*content: "Year";*/
    /*}*/

    /*td:nth-of-type(3):before {*/
        /*content: "IMDb Rating";*/
    /*}*/

    /*td:nth-of-type(4):before {*/
        /*content: "My Rating";*/
    /*}*/

    /*td:nth-of-type(5):before {*/
        /*content: "Genre";*/
    /*}*/

    /*td:nth-of-type(6):before {*/
        /*content: "Runtime (mins)";*/
    /*}*/

    /*td:nth-of-type(7):before {*/
        /*content: "Oscars";*/
    /*}*/

    /*td:nth-of-type(8):before {*/
        /*content: "Description";*/
    /*}*/
/*}*/